@page
@model RegisterConfirmationModel

@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="w-100 text-center">@ViewData["Title"]</h1>

<br />
<br />

<div class="row d-flex justify-content-center">

@{
    if (@Model.DisplayConfirmAccountLink)
    {
            <div class="text-center w-100">
                <p>

                Email Comfirmation was sent to Paper Cut. Additioally, you can 
                 <a id="confirm-link" href="@Model.EmailConfirmationUrl">click here to confirm your account</a>
                </p>
</div>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
} </div>

