@{
    ViewData["Title"] = "Home Page";
}

        <div class="mt-5">
            <div class="p-1">
                <div class="images w-100">
                    <img class="imageSize rounded mx-auto d-block" src="~/lib/images/car2.jpeg" alt="Auto loan">
                </div>

                <div class="images w-100">
            <img class="imageSize rounded mx-auto d-block" src="~/lib/images/download.jfif" alt="Personal">
                </div>
                <div class="images w-100">
            <img class="imageSize rounded mx-auto d-block" src="~/lib/images/studentLoan.jpeg" alt="Education">
                </div>
                <div class="images w-100">
            <img class="imageSize rounded mx-auto d-block" src="~/lib/images/school Supplies.jpeg" alt="School supplies">
                </div>
                <div class="images w-100">
            <img class="imageSize rounded mx-auto d-block" src="~/lib/images/partnerPlan.jpeg" alt="partnerPlan">
                </div>
            </div>
        </div>

        <section class="container">
            <div class="w-100 text-center mt-5 mb-3">
                <h2>We are here for you</h2>
            </div>
            <div class="container">
                <p>
                    It's time to have you a piece of mind. To care of business with a loan from us.get yourself out of any jam you are in and in financial success.
                </p>
            </div>
            <div class="d-flex">
                <div class="fs-5 ms-1 border-end w-100 border-black">
                    <P>Get a unsecure Loan up to $1000,000.00.</P>
                    <p>Buy the car of your dreams.</p>
                    <p>Take a well deserved vacation.</p>
                    <p>Further you education.</p>
                    <p>Renovate your home.</p>
                    <p> Whatever you need a loan for, we got you.</p>

                </div>

                <div class="w-100 text-center ">
                    <div class="rotate-25">
                        <div class="">
                            <h3 class="fs-1 promoFormat">
                                Promotions
                            </h3>
                        </div>
                        <p class="fs-3 "> Borrows a minimum of</p>
                        <p class="fs-1 text-primary"> $500,000.00</p>

                        <p class="fs-5 ">
                            for a chance to chances to win great prizes.
                        </p>

                    </div>

                </div>

            </div>
            <div class=" container  text-light py-5">

                    <div class="container w-100 fs-5 text-center">
                <a class="nav-link text-white" asp-area="" asp-controller="LoanRequests" asp-action="Create">  <div class="mb-5 bg-primary leadToForm"> Apply online!</div></a>
                    </div>

            </div>


        </section>

    </div>

    </div>
 