@model LoanTypeVM

@{
    ViewData["Title"] = "Details";
}

<div class="container text-center w-100">
    <h1>Loan Type Details</h1>
</div>

<div>
    <br />
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Interest) %
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Interest) %
        </dd>
    </dl>
</div>

<div class="container d-inline-flex justify-content-around align-content-center border-top">
    <a class="btn btn-primary mt-3" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-warning mt-3" asp-action="Index">Back to List</a>
</div>
