@model LoanRequestCreateVM

@{
    ViewData["Title"] = "Create";
}
<div class="container text-center w-100">
<h1>Create a Loan Request</h1>
</div>

<br />
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="LoanTypeId" class="control-label"></label>
                <select asp-for="LoanTypeId" class ="form-select " asp-items="@Model.LoanTypes">
                    <option>Select Loan Type</option>
                </select>
                <span asp-validation-for="LoanTypeId" class="text-danger"></span>
                
            </div>
            <div class="form-group mb-3">
                <label asp-for="LoanTermId" class="control-label"></label>
                <select asp-for="LoanTermId" class="form-select" asp-items="@Model.LoanTerms">
                    <option>Select Loan Term</option>
                </select>
                <span asp-validation-for="LoanTermId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="LoanStatusId" class="control-label"></label>
                <select asp-for="LoanStatusId" class="form-select" asp-items="@Model.LoanStatus" disabled>
                    <option>Select Loan Status</option>
                </select>
                <span asp-validation-for="LoanStatusId" class="text-danger"></span>
            </div>

            <div class="form-group container d-inline-flex justify-content-around align-content-center border-top">
                <a class="btn btn-success mt-3" asp-controller="Home" asp-action="Index"> Back To Home </a>
                <a class="btn btn-secondary mt-3" asp-action="MyLoans"> View Loans </a>
                <input type="submit" value="Create" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>


