@model LukieannLoanWeb.Data.LoanRequest

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center w-100">Edit loan Request</h1>
<br />
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Date" />
    
            @if (User.IsInRole("Administrator") || User.IsInRole("Loan Manager"))
            {
                <div class="form-group">
                    <label asp-for="LoanTypeId" class="control-label"></label>
                    <select asp-for="LoanTypeId" class="form-control" asp-items="ViewBag.LoanTypeId" disabled></select>
                        <select asp-for="LoanTypeId" class="form-control" asp-items="ViewBag.LoanTypeId" hidden></select>
                    <span asp-validation-for="LoanTypeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LoanTermID" class="control-label"></label>
                    <select asp-for="LoanTermID" class="form-control" asp-items="ViewBag.LoanTermID" disabled></select>
                    <select asp-for="LoanTermID" class="form-control" asp-items="ViewBag.LoanTermID" hidden></select>
                    <span asp-validation-for="LoanTermID" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LoanStatusId" class="control-label"></label>
                    <select asp-for="LoanStatusId" class="form-control" asp-items="ViewBag.LoanStatusId"></select>
                    <span asp-validation-for="LoanStatusId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" disabled/>
                    <input asp-for="Amount" class="form-control" hidden />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="LoanTypeId" class="control-label"></label>
                    <select asp-for="LoanTypeId" class="form-control" asp-items="ViewBag.LoanTypeId"></select>
                    <span asp-validation-for="LoanTypeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LoanTermID" class="control-label"></label>
                    <select asp-for="LoanTermID" class="form-control" asp-items="ViewBag.LoanTermID"></select>
                    <span asp-validation-for="LoanTermID" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LoanStatusId" class="control-label"></label>
                    <select asp-for="LoanStatusId" class="form-control" asp-items="ViewBag.LoanStatusId"></select>
                    <span asp-validation-for="LoanStatusId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                
            }
         

            <div class="form-group container d-inline-flex justify-content-around align-content-center border-top">
                @if (User.IsInRole("Administrator") || User.IsInRole("Loan Manager"))
                {
                    <input type="submit" value="Save" class="btn btn-primary mt-3" />
                }
                <a class="btn btn-warning mt-3" asp-action="Index">Back to Loan Requests</a>
                
            </div>

        </form>
    </div>
</div>


